@model Google.PubSub.Client.Web.Controllers.SubscriptionCreateModel

@{
    ViewBag.Title = "Create new Subscription";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a asp-controller="Project" asp-action="List">Projects</a>
        </li>
        <li class="breadcrumb-item">
            <a asp-controller="Topic" asp-action="List" asp-route-projectId="@Model.ProjectId">Topics</a>
        </li>
        <li class="breadcrumb-item">
            <a asp-controller="Topic" asp-action="Detail" asp-route-projectId="@Model.ProjectId" asp-route-topicName="@Model.TopicName">Topic Details</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Create new Subscription</li>
    </ol>
</nav>

<div class="text-center">
    <h2 class="display-4">Create new Subscription to the Topic</h2>
</div>

<div>
    <form method="post" enctype="multipart/form-data" asp-controller="Subscription" asp-action="Create">
        <div class="form-group">
            <label for="topicName">Subscription Id</label>
            <input type="text" class="form-control" id="subscriptionId" name="subscriptionId" placeholder="Enter subscription name">
        </div>
        <div class="form-group">
            <label for="retryPolicy">Retry Policy</label>
            <select class="form-control" id="retryPolicy" name="retryPolicy" required>
                <option value="immediate">Immediate</option>
                <option value="exponentialBackoff">Exponential Backoff</option>
            </select>
        </div>
        <div id="exponentialBackoffGroup">
            <div class="form-group">
                <label for="minBackoff">Minimum Backoff (seconds)</label>
                <input type="number" class="form-control" id="minBackoff" name="minBackoff" min="1" max="600" value="10" />
            </div>
            <div class="form-group">
                <label for="maxBackoff">Maximum Backoff (seconds)</label>
                <input type="number" class="form-control" id="maxBackoff" name="maxBackoff" min="1" max="600" value="600" />
            </div>
        </div>
        <div class="form-group">
            <label>Enable message ordering</label>
            <div class="form-group">
                <label for="enableMessageOrderingNo">No</label>
                <input type="radio" class="form-check-inline" id="enableMessageOrderingNo" name="enableMessageOrdering" value="false" checked/>
                <label for="enableMessageOrderingYes">Yes</label>
                <input type="radio" class="form-check-inline" id="enableMessageOrderingYes" name="enableMessageOrdering" value="true"/>
            </div>
        </div>
        <input type="hidden" value="@Model.ProjectId" id="projectId" name="projectId"/>
        <input type="hidden" value="@Model.TopicName" id="topicName" name="topicName"/>

        <button type="submit" class="btn btn-primary">Create</button>
    </form>
</div>

@section Scripts {
    <script>
        $(function () {
            let $retryPolicy = $("#retryPolicy");
            if ($retryPolicy.val() !== "exponentialBackoff")
                $("#exponentialBackoffGroup").hide();
          $retryPolicy.change(function() {
            let val = $(this).val();
            if(val === "exponentialBackoff") {
                $("#exponentialBackoffGroup").show();
            }
            else {
                $("#exponentialBackoffGroup").hide();
            }
          });
        });
    </script>
}