@model Google.PubSub.Client.Web.Components.SubscriptionListModel

@{
    ViewBag.Title = "title";
    int index = 0;
}

<div class="text-center">
    <h2 class="display-4">Subscriptions</h2>
</div>

<div>
    <table class="table table-hover table-sm">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Subscription</th>
            <th scope="col" colspan="2">Messages</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var subscriptionResponse in Model.SubscriptionResponses)
        {
            @foreach (var subscription in subscriptionResponse.Subscriptions)
            {
                index++;
                <tr>
                    <th scope="row">@index</th>
                    <td>@subscription</td>
                    <td>
                        <a asp-controller="Subscription" asp-action="ViewMessages" asp-route-projectId="@Model.ProjectId" asp-route-topicName="@Model.TopicName" asp-route-subscriptionName="@subscription" class="btn btn-outline-primary btn-sm">Details</a>
                    </td>
                    <td>
                        <form method="post" enctype="multipart/form-data" asp-controller="Subscription" asp-action="PurgeMessages">
                            <input type="hidden" name="projectId" value="@Model.ProjectId"/>
                            <input type="hidden" name="topicName" value="@Model.TopicName">
                            <input type="hidden" name="subscriptionName" value="@subscription">

                            <button type="submit" class="btn btn-outline-danger btn-sm">Purge</button>
                        </form>
                    </td>
                    <td>
                        <form method="post" enctype="multipart/form-data" asp-controller="Subscription" asp-action="Delete">
                            <input type="hidden" name="projectId" value="@Model.ProjectId"/>
                            <input type="hidden" name="topicName" value="@Model.TopicName">
                            <input type="hidden" name="subscriptionName" value="@subscription">

                            <button type="submit" class="btn btn-outline-danger btn-sm">Delete</button>
                        </form>
                    </td>
                </tr>
            }
        }
        </tbody>
    </table>
</div>